# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Terraform variables/secrets
*.tfvars
*.tfvars.json

# AWS / SSH keys
*.pem
*.key

# Mac
.DS_Store

# VS Code
.vscode/
